/data/train_sample_videos/*
/.idea/*
.env
/data/deepfake/
/notebooks/cnn_full_frame.ipynb
/data/deepfake.zip
/data/meso-pretrain.zip
/data/meso-pretrain/
/inception_v3.py
/data/deepfake_jpegs/*
/data/sample_submission.csv
/unzip_script.py
/data/deepfake_features/
