/data/train_sample_videos/*
/.idea/*
.env
/data/deepfake/
/notebooks/cnn_full_frame.ipynb
/data/deepfake.zip
/data/meso-pretrain.zip
/data/meso-pretrain/
/inception_v3.py
/data/deepfake_jpegs/*
/data/sample_submission.csv
/unzip_script.py
/preprossesing_test.py
/data/deepfake_features/*
/lstm.json
/lstm.h5
/best_model.json
/best_model_weights.h5
/data/test_videos/
/data/cropped_frame/
/results_roc.png
